# Java / Maven
backend/target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Node
frontend/node_modules/
frontend/dist/

# Entorno local
.env

# IDE / sistema
.DS_Store
.idea/
.vscode/
*.log

# Local Netlify folder
.netlify
